---
layout: home-page
---
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">


      <div class="post-card-body">
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
        <div class="post-card-info">
          {% if post.author %}
            {% assign author = site.authors[post.author] %}
            <span class="post-card-author-name">{{ author.name }}</span>
            <div class="post-card-datatime">
            <meta itemprop="datePublished" content="{{post.date}}">
            <time datetime="{{ post.date | date_to_xmlschema }}">
              <span class="day">
                {{ post.date | date: "%d" }}
              </span>
              <span class="month-year">
                {{ post.date | date: "%B %Y" }}
              </span>
            </time>
          {% endif %} 
          </div>
        </div>
        <p class="post-card-description">
          {{ post.content | strip_html | truncatewords:20 }}
          <a href="{{ post.url | prepend: site.baseurl }}" class="link">ler mais</a>
        </p>
        {% for tag in post.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
      </div>

    </div>
  </li>
  {% endfor %}
</ol>

