<div class="recent-box">
  <h2 class="recent-title">Publicações recentes</h2>
  <div class="recent-list">
    {% for post in site.posts offset:0 limit:4 %}
      {% if post.title %}
      	<div class="recent-item">
      		<div class="recent-info">
	      		{% if post.author %}
		            {% assign author = site.authors[post.author] %}
		            <div >
		            	<span class="recent-author">{{ author.name }}</span>
		            </div>
		            <div class="recent-datatime">
			            <meta itemprop="datePublished" content="{{post.date}}">
			            <time datetime="{{ post.date | date_to_xmlschema }}">
			              <span class="day">
			                {{ post.date | date: "%d" }}
			              </span>
			              <span class="month-year">
			                {{ post.date | date: "%B %Y" }}
			              </span>
			            </time>
			        </div>
	          	{% endif %} 
          	</div>
        	<a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" class="recent-title">
        		<h3>{{ post.title }}</h3>
        	</a>
        </div>
      {% endif %}
       
    {% endfor %}
  </div>
</div> <!-- End Recent-Box -->

